


header{
    background: #B7AD99;
    padding-left: 50px;
}

h1 {
  
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

h2{
    font-size: 2rem;
}

.Foto {
    display: flex;
    justify-content: flex-end;
    border-radius: 15px;
    width: 120px;
    float: right;
    padding-top: 20px;
    
}



body p{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
}

.cuerpoHDV {
    background: #C4C4C4;
    display: flex;
    width: 100%;
    padding: 20px;
    float: left;
    box-sizing: border-box;
   justify-content: space-evenly;
   flex-direction: row;
}



.estudios{
    display: table-column;
    flex-direction: column;
    width: 20%;
    max-width: 18.5em;
    background-color: rgba(255, 255, 255, 0.58);
    border-radius: 15px;
    text-align: center;

}

.habilidades{

    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 18.5em;
    background-color: rgba(255, 255, 255, 0.58);
    border-radius: 15px;
    text-align: center;
}
